<link rel="stylesheet" href="/stylesheets/owner/home.css">


<div class="over-view">
  <div class="over-view-title">
    <p>Dashboard</p>
  </div>
  <div class="boxes-wrapper">

    <div class="box-wrapper">

      <div class="boxes">
        <div class="text">
          <p>Income</p>
          <span class="box-data">$.200</span>
        </div>
        <div class="progress" style="height: 10px; width: 90%; ">

          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

        </div>
      </div>

      <div class="boxes">
        <div class="text">
          <p>Movies</p>
          <span class="box-data">$.200</span>
        </div>

        <div class="progress" style="height: 10px; width: 90%; ">
          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

        </div>
      </div>
    </div>
    <div class="box-wrapper2">

      <div class="boxes">
        <div class="text">
          <p>Upcoming</p>
          <span class="box-data">$.200</span>
        </div>
        <div class="progress" style="height: 10px; width: 90%; ">

          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

        </div>
      </div>

      <div class="boxes">
        <div class="text">
          <p>Bookings</p>
          <span class="box-data">$.200</span>
        </div>
        <div class="progress" style="height: 10px; width: 90%; ">

          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- table -->


<!--table -->
<div class="owner-table">
  <div class="table-title">
    <p>Now Showing</p>
    <div class="movie">

      <a href="/owner/upcoming-movies" id="add-btn" class="btn btn-light-blue">Upcoming Movie</a>
      <a href="/owner/add-movie" id="add-btn" class="btn btn-mdb-color">Add Movie</a>

    </div>
  </div>
  <table>
    <tr>

      <th class="no">
        No
      </th>
      <th>
        Name
      </th>
      <th>
        Relsease Date
      </th>
      <th>
        Run Time
      </th>
      <th>
        Action
      </th>
    </tr>
    {{#each movie}}
    <tr>
      <td id="row">

      </td>
      <td>
        {{this.Title}}
        <!-- <img src="/images/owner/profile/owner{{this._id}}.jpg" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" alt=""> {{this.Name}} -->
      </td>
      <td>
        {{this.Date}}
      </td>
      <td>
        {{this.Runtime}}
      </td>
      <td>
        <a href="/owner/edit-movie/{{this._id}}">
          <img src="/images/admin/edit-2.svg" alt="" />
        </a>
        <a onclick="getDeleteWrapper('{{this.Title}}','{{this._id}}')">
          <img src="/images/admin/trash (1).svg" alt="" />
        </a>
      </td>

      {{!--delete popup--}}
      <div class="delete-wrapper" id="{{this._id}}">
        <div class="delete">
          <span id="delete" class="{{this._id}}">Delete This.Png ?</span>
          <p>This will permanently delete the image from your image library. You will not be able to undo this action.
          </p>
          <div class="inputs-btn">
            <button class="mask waves-effect waves-light rgba-white-slight" onclick="closeDelet('{{this._id}}')">Cancel</button>
            <button class="mask waves-effect waves-light rgba-white-slight"
              onclick="deleteMovie('{{this._id}}')">Delete</button>
          </div>
        </div>
      </div>
    </tr>
    {{/each}}
  </table>
</div>


<script>
  const closeDelet = (id) => {
    var wrapper = document.getElementById(id)
    wrapper.classList.remove('active')
  }
  function getDeleteWrapper(Name, id) {
    var Delspan = document.getElementsByClassName(id)
    Delspan.innerText = `Delete ${Name} ?`

    var wrapper = document.getElementById(id)
    wrapper.classList.toggle('active')
  }
  function deleteMovie(Id) {
    $.ajax({
      url: '/owner/delete-movie/' + Id,
      data: Id,
      method: 'post',
      success: (response) => {

        console.log(response.status)
        if (response.status) {
          var wrapper = document.getElementById(Id)

          wrapper.classList.remove('active')

          location.reload()
        }
      }
    })
  }


</script>

<script>
  $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>