<link rel="stylesheet" href="/stylesheets/owner/home.css" />
<div class="over-view">
  <div class="over-view-title">
    <p>
      Dashboard
    </p>
  </div>
  <div class="boxes-wrapper">
    <div class="box-wrapper">
      <div class="boxes">
        <div class="text">
          <p>
            Income
          </p>
          <span class="box-data">$.200</span>

        </div>
        <div class="progress" style="height: 10px; width: 90%;">
          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="boxes">
        <div class="text">
          <p>
            Movies          
          </p>
          <span class="box-data">$.200</span>

        </div>
        <div class="progress" style="height: 10px; width: 90%;">
          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="box-wrapper2">
      <div class="boxes">
        <div class="text">
          <p>
            Upcoming
          </p>
          <span class="box-data">$.200</span>

        </div>
        <div class="progress" style="height: 10px; width: 90%;">
          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="boxes">
        <div class="text">
          <p>
            Bookings
          </p>
          <span class="box-data">$.200</span>

        </div>
        <div class="progress" style="height: 10px; width: 90%;">
          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- table -->
<!--table -->
<div class="owner-table">
  <div class="table-title">
    <p>
      Screens
    </p>
    <a href="/owner/add-screen" id="add-btn" onclick="addToggle()" class="btn btn-light-blue">
      Add Screen
    </a>
  </div>
  <table>
    <tr>
      <th class="no">
        No
      </th>
      <th>
        Name
      </th>
      <th>
        Seats
      </th>
      <th>
        Schedule
      </th>
      <th>
        Action
      </th>
    </tr>
    {{#each Screen}}
    <tr>
      <td id="row"></td>
      <td>
        {{this.Name}}
        <!-- <img src="/images/owner/profile/owner{{this._id}}.jpg" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" alt=""> {{this.Name}} -->
      </td>
      <td>
        {{this.Seat}}
      </td>
      <td>
        <a href="/owner/screen/show/{{this._id}}" class="btn btn-mdb-color">
          View
        </a>
      </td>
      <td>
        <a href="/owner/edit-screen/{{this._id}}">
          <img src="/images/admin/edit-2.svg" alt="" />
        </a>
        <a onclick="getDeleteWrapper('{{this.Name}}')">
          <img src="/images/admin/trash (1).svg" alt="" />
        </a>
      </td>

      {{!--delete popup--}}
      <div class="delete-wrapper" id="{{this._id}}">
        <div class="delete">
          <span id="delete" class="{{this._id}}"></span>
          <p>This will permanently delete the image from your image library. You will not be able to undo this action.
          </p>
          <div class="inputs-btn">
            <button class="mask waves-effect waves-light rgba-white-slight" onclick="closeDelet('{{this._id}}')">Cancel</button>
            <button class="mask waves-effect waves-light rgba-white-slight"
              onclick="deleteScreen('{{this._id}}')">Delete</button>
          </div>
        </div>
      </div>
    </tr>
    {{/each}}
  </table>
</div>



<!-- ----tables--- -->
<script>
  const closeDelet = () => {
    var wrapper = document.querySelector('.delete-wrapper')
    wrapper.classList.remove('active')
  }
</script>
<script>
  function getDeleteWrapper(Name) {
    var Delspan = document.getElementById('delete')
    Delspan.innerText = `Delete ${Name} ?`

    var wrapper = document.querySelector('.delete-wrapper')
    wrapper.classList.toggle('active')
  }
  function deleteScreen(Id) {


    var wrapper = document.querySelector('.delete-wrapper')
    $.ajax({
      url: '/owner/delete-screen/' + Id,
      data: Id,
      method: 'post',
      success: (response) => {

        console.log(response.status)
        if (response.status) {
          wrapper.classList.remove('active')
          location.reload()
        }
      }
    })

  }
</script>
