<link rel="stylesheet" href="/stylesheets/admin/home.css" />
<script src="/javascripts/admin/script.js"></script>
<!--main boxes-->
<div class="main-box">
  <div class="boxes boxes11">
    <div class="box-wrapper">
      <div class="box">
        <div class="box-content">
          <span>
            User's
          </span>
          <p class="box-data ">
            20
          </p>
        </div>
      </div>
    </div>
    <div class="box-wrapper">
      <div class="box">
        <div class="box-content">
          <span>
            Owner's
          </span>
          <p class="box-data ">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="boxes">
    <div class="box-wrapper2">
      <div class="box">
        <div class="box-content">
          <span>Movie's</span>

          <p class="box-data ">
            20
          </p>
        </div>
      </div>
    </div>
    <div class="box-wrapper2">
      <div class="box">
        <div class="box-content">
          <span>
            Bookings's
          </span>
          <p class="box-data ">
            20
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ---charts--- -->
<div class="admin-chart">

  <div class="chart1">
    <canvas id="lineChart"></canvas>
    <!--Grid row-->
  </div>
  <div class="chart2">
    <canvas id="barChart"></canvas>
  </div>
</div>

<!--table -->
<div class="admin-table">

  <table>

    <tr>

      <th>
        No
      </th>
      <th>
        Owner
      </th>
      <th>
        Theater
      </th>
      <th>
        Action
      </th>
    </tr>
    {{#each ownerDetails}}
    <tr>
      <td id="row">

      </td>
      <td>
        <img src="/images/owner/profile/owner{{this._id}}.jpg"
          style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%; margin-right: 5px;" alt="">
        {{this.Name}}
      </td>
      <td>
        {{this.Theater}}
      </td>
      <td>
        <a href="/admin/edit-owner/{{this._id}}">
          <img src="/images/admin/edit-2.svg" alt="" />
        </a>
        <a onclick="deleteOwner('{{this._id}}')">
          <img src="/images/admin/trash (1).svg" alt="" />
        </a>
      </td>
    </tr>
    {{/each}}
  </table>
</div>
<script>
  function deleteOwner(ownerId) {
    var confirmDelete = confirm('Are You Sure Want To Delete')
    if (confirmDelete) {
      $.ajax({
        url: '/admin/delete-owner/' + ownerId,
        data: ownerId,
        method: 'post',
        success: (response) => {

          console.log(response.status)
          if (response.status) {
            swal({
              title: "Deleted",
              text: "Successfully",
              icon: "success",
              button: false
            }); setTimeout(function () {
              location.reload()
            }, 2000)


          }
        }
      })
    }

  }
</script>




<script>

  const getLineChart = () => {
    $.ajax({
      url: '/admin/getLineChartData',
      method: 'post',
      success: (response) => {
        console.log(response, "response")
        var January = response.January
        var February = response.February
        var March = response.March
        var April = response.April
        var May = response.May
        var June = response.June
        var July = response.July
        var August = response.August
        var September = response.September
        var October = response.October
        var November = response.November
        var December = response.December

        lineChart(January, February, March, April, May, June, July, August, September, October, November, December)
      }
    })
  }



  window.addEventListener('load', () => {
    getLineChart()
  })

  function lineChart(January, February, March, April, May, June, July, August, September, October, November, December) {

    // Line
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var gradientFill = ctxL.createLinearGradient(0, 0, 0, 290);
    gradientFill.addColorStop(0, "rgba(173, 53, 186, 1)");
    gradientFill.addColorStop(1, "rgba(173, 53, 186, 0.1)");
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        datasets: [
          {
            label: "My First dataset",
            data: [January, February, March, April, May, June, July, August, September, October, November, December],
            backgroundColor: gradientFill,

            borderWidth: 2,
            pointBorderColor: "#fff",
            pointBackgroundColor: "rgba(173, 53, 186, 0.1)",
          }
        ]
      },
      "options": {

        "scales": {
          "xAxes": [{
            "ticks": {
              "beginAtZero": true
            },
            gridLines: {
              display: false,
            },
          }],
          "yAxes": [{
            gridLines: {
              display: false,
            },
          }]
        },
        responsive: true

      }
    });

  }

</script>
<script>




  // bar chart script
  var bar_chart_data = {}
  const getBarChartData = () => {
    $.ajax({
      url: '/admin/get-bar-chart-data',
      method: 'get',
      success: (data) => {
        console.log(data, "data")
        bar_chart_data.Screens = data.Screens.length
        bar_chart_data.Shows = data.Shows.length
        bar_chart_data.Movies = data.Movies.length
        bar_chart_data.Bookings = data.Bookings.length
        bar_chart_data.Upcomings = data.Upcomings.length
        bar_chart_data.Users = data.Users.length

        var Bookings = bar_chart_data.Bookings
        var Screens = bar_chart_data.Screens
        var Shows = bar_chart_data.Shows
        var Movies = bar_chart_data.Movies
        var Upcomings = bar_chart_data.Upcomings
        var Users = bar_chart_data.Users

        barChart(Screens, Shows, Movies, Bookings, Users)
      }
    })
  }
  window.addEventListener('load', () => {
    getBarChartData()
  })



  const barChart = (Screens, Shows, Movies, Bookings, Users) => {
    // ---chart script---

    var ctxL = document.getElementById("barChart").getContext("2d");
    var gradientFill = ctxL.createLinearGradient(0, 0, 0, 290);
    gradientFill.addColorStop(0, "#5e97ff");
    gradientFill.addColorStop(1, "rgba(0,146,255,0.1)");
    var myLineChart = new Chart(ctxL, {
      type: "bar",
      data: {
        labels: ["March", "March", "April", "May", "June", "July"],
        datasets: [
          {
            label: "My First dataset",
            data: [Screens, Shows, Movies, Bookings, Users],
            backgroundColor: gradientFill,
            borderWidth: 0,
          },
        ],
      },
      options: {
        responsive: true,
      },
    });
  }








</script>