<link rel="stylesheet" href="/stylesheets/admin/admin-header.css">


<!--nav bar-->
<div class="nav-bar">
  <div class="nav-left">
    <a href="#side-bar">
      <img src="/images/admin/menu (1).svg" alt="" />
    </a>
    <span>Movie Cafe</span>
  </div>
  <div class="nav-right">
    {{#if adminDetails.name}}
    <span onclick="profileToggle()">Hi {{adminDetails.name}}</span>
    {{/if}}
    {{#if ?adminDetails.name}}
    <span onclick="profileToggle()">Hi Admin</span>
    {{/if}}

    <i class="fas fa-chevron-down" onclick="profileToggle()" aria-hidden="true"></i>
  </div>
  <div class="nav-profile-pop-up">
    <div class="nothing"></div>
    <div class="profile-details">
      {{#if adminDetails._id}}
      <img src="/images/admin/profile/{{adminDetails._id}}.jpg" alt="">
      {{/if}}
      {{#if ?adminDetails._id}}
      <img src="/images/admin/profile.svg" alt="" />
      {{/if}}
      {{#if adminDetails.name}}
      <p>{{adminDetails.name}}</p>
      {{/if}}

      {{#if ?adminDetails.name}}
      <p>Admin</p>
      {{/if}}

    </div>
    <div class=".n-p-details">
      <ul>
        <a href="/admin/edit-profile">
          <li><i class="fa fa-user" aria-hidden="true"></i>Edit Profile</li>
        </a>
        <a href="/admin/update-password">
          <li> <i class="fa fa-lock" aria-hidden="true"></i>Change Password</li>
        </a>

        <a href="https://mail.google.com/mail/u/0/#inbox">

          <li><i class="fa fa-envelope" aria-hidden="true"></i>Inbox</li>
        </a>

        <a href="/admin/logout">
          <li><i class="fas fa-sign-out-alt"></i>Logout</li>
        </a>
      </ul>
    </div>
  </div>
</div>

<!-- ---sidebar--- -->
<div class="side-bar" id="side-bar">
  <div class="sidebar-top">
    <div class="x">
      <a href="#"> <img src="/images/admin/x.svg" alt="" /> </a>
    </div>
    {{#if adminDetails._id}}
    <img src="/images/admin/profile/{{adminDetails._id}}.jpg" id="p-img" alt="">
    {{/if}}
    {{#if ?adminDetails._id}}
    <img src="/images/admin/profile.svg" id="p-img" alt="" />
    {{/if}}

    {{#if adminDetails.name}}
    <span>{{adminDetails.name}}</span>
    {{/if}}
    {{#if ?adminDetails.name}}
    <span>Admin</span>
    {{/if}}

  </div>
  <div class="sidebar-bottom">
    <a href="/admin" class="sidebar-items"><img src="/images/admin/grid.svg" id="s-img" alt="" />
      Dashboard</a>
    <a href="/admin/owner-details" class="sidebar-items"><img src="/images/admin/users.svg" id="s-img" alt="" />
      Owner's</a>
    <a href="/admin/theater-details" class="sidebar-items"><img src="/images/admin/home.svg" id="s-img" alt="" />
      Theaters</a>
    <a href="/admin/user-details" class="sidebar-items"><img src="/images/admin/users.svg" id="s-img" alt="" />
      User's</a>
    <a href="/admin/bookings" class="sidebar-items"><img src="/images/admin/file.svg" id="s-img" alt="" />
      Bookings</a>
    <a href="/admin/movies" class="sidebar-items"><img src="/images/admin/film.svg" id="s-img" alt="" />
      Movies</a>
    <a href="/admin/add-owner" class="sidebar-items"><img src="/images/admin/user-plus.svg" id="s-img" alt="" />
      Add Owner</a>
    <a href="/admin/edit-profile" class="sidebar-items"><img src="/images/admin/edit-2.svg" id="s-img" alt="" /> Edit
      Profile</a>
    <a href="/admin/update-password" class="sidebar-items"><img src="/images/admin/lock.svg" id="s-img" alt="" /> Update
      Password</a>
  </div>

</div>





{{!-- --- a active script--- --}}

<script>
  const currentLocation = location.href;
  const sidebar = document.getElementsByClassName("sidebar-items");
  const foodLength = sidebar.length;
  for (let i = 0; i < foodLength; i++) {
    if (sidebar[i].href === currentLocation) {
      sidebar[i].classList = "sidebar-items s-active";
    }
  }
  </script>


<script>


  // ---profile pop up  script---

  function profileToggle() {
    const toggleProfile = document.querySelector(".nav-profile-pop-up");
    toggleProfile.classList.toggle("active");
  }

</script>