<link rel="stylesheet" href="/stylesheets/owner/owner-header.css">


<body>
  <div class="nav-bar">
    <div class="nav-logo">
      <div class="menu">
        <img src="/images/owner/home/x.svg" alt="" onclick="manuReturn()" id="times">
        <img src="/images/owner/home/menu (1).svg" onclick="menuToggle()" id="bar" alt="">

      </div>
      <a>Movie Cafe</a>
    </div>
    <div class="nav-items">
      <span onclick="profileToggle()">Hi {{ownerDetails.Name}}</span>
      <i class="fas fa-chevron-down" onclick="profileToggle()" aria-hidden="true"></i>

    </div>
  </div>


  {{!-- profile pop up --}}
  <div class="nav-profile-pop-up">
    <div class="nothing"></div>
    <div class="profile-details">
      <img src="/images/owner/profile/owner{{ownerDetails._id}}.jpg" alt="" />
      <p>Owner</p>


    </div>
    <div class=".n-p-details">
      <ul>
        <a href="/owner/edit-profile">
          <li><i class="fa fa-user" aria-hidden="true"></i>Edit Profile</li>
        </a>
        <a href="/owner/update-password">
          <li> <i class="fa fa-lock" aria-hidden="true"></i>Change Password</li>
        </a>

        <a href="https://mail.google.com/mail/u/0/#inbox">

          <li><i class="fa fa-envelope" aria-hidden="true"></i>Inbox</li>
        </a>

        <a href="/owner/logout">
          <li><i class="fas fa-sign-out-alt"></i>Logout</li>
        </a>
      </ul>
    </div>
  </div>
  </div>


  <!--side-bar-->

  <div class="side-bar" id="side-bar">
    <div class="side-bar-top">
      <img src="/images/owner/profile/owner{{ownerDetails._id}}.jpg" alt="">
      <p>Hello, <span>{{ownerDetails.Name}}</span></p>
    </div>
    <div class="side-bar-bottom">
      <a href="/owner" class="side-bar-items"><i class="fas fa-th-large"></i>Dashboard</a>
      <a href="/owner/movies" class="side-bar-items"><i class="fas fa-film"></i>Movies</a>
      <a href="/owner/bookings" class="side-bar-items"><i class="fas fa-ticket-alt"></i>Bookings</a>
      <a href="/owner/user-details" class="side-bar-items"><i class="fas fa-user-friends"></i>Users</a>
      <a href="/owner/screen" class="side-bar-items"><i class="fas fa-ticket-alt"></i>Screen</a>
      <a href="/owner/update-password" class="side-bar-items"><i class="fas fa-lock"></i>Update Password</a>
      <a href="/owner/edit-profile" class="side-bar-items"><i class="fas fa-user-edit"></i>Edit Profile</a>
    </div>
  </div>


  <div class="notification-wrapper">

  </div>

  <script>
    const menuToggle = () => {
      var side_bar = document.getElementById('side-bar')
      side_bar.classList.toggle('side-bar-active')
      var bar = document.getElementById('bar')
      bar.classList.toggle('bar-active')
      var times = document.getElementById('times')
      times.classList.toggle('times-active')

    }
    const manuReturn = () => {
      var side_bar = document.getElementById('side-bar')
      side_bar.classList.remove('side-bar-active')
      var bar = document.getElementById('bar')
      bar.classList.remove('bar-active')
      var times = document.getElementById('times')
      times.classList.remove('times-active')

    }
  </script>

  <script src="/socket.io/socket.io.js"></script>

  <script>


    var ownerName = '{{ownerDetails.Name}}'
    var notification_wrapper = document.querySelector('.notification-wrapper')
    var socket = io()
    var ownerId = '{{ownerDetails._id}}'
    console.log(ownerName, ownerId)
    socket.on(ownerId, (msg) => {
      notification_wrapper.innerHTML += `<div class="notification">
  <i class="fa fa-times" onclick="this.parentNode.remove()" aria-hidden="true"></i>
  <div class="notification-nothing"></div>
  <p><img src="/images/owner/profile/owner${ownerId}.jpg" alt=""> Hey <span>${ownerName}</span>,  New Booking Confirmed.</p>
</div>`
      notification_wrapper.classList.add('active')
    })

  </script>
  <script>


    // ---profile pop up  script---

    function profileToggle() {
      const toggleProfile = document.querySelector(".nav-profile-pop-up");
      toggleProfile.classList.toggle("active");
    }

  </script>

  {{!--
  <script>
    const currentLocation = location.href();
    const sidebar = document.querySelector('.side-bar-items')

    const sidebarLength = sidebar.length;
    for (let i = 0; i < sidebarLength; i++) {
      sidebar[i].classList = "side-bar-items active";
    }

  </script> --}}

  <script>
    const currentLocation = location.href;
    const sidebar = document.getElementsByClassName("side-bar-items");
    const sidebarLength = sidebar.length;
    for (let i = 0; i < sidebarLength; i++) {
      if (sidebar[i].href === currentLocation) {
        sidebar[i].classList = "side-bar-items active";
      }
    }
  </script>

  <script>


    // ---profile pop up  script---

    function profileToggle() {
      const toggleProfile = document.querySelector(".nav-profile-pop-up");
      toggleProfile.classList.toggle("profile-active");
    }

  </script>