<link rel="stylesheet" href="/stylesheets/user/home.css">


<!--home image-->
<div class="home-image-slider">
    <!-- Slider main container -->
    <div class="swiper-container home">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="https://m.media-amazon.com/images/G/01/digital/video/sonata/PV_IN_JackDaniel/02422096-e1b7-4632-939d-b6c58d957ee6._UR3000,600_SX3000_FMwebp_.jpg"
                    alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://m.media-amazon.com/images/G/01/digital/video/sonata/PV_IN_DoraAndTheCityOfGold/94aa9bdc-e8bb-4f48-9677-c1c83491d1fe._UR3000,600_SX1500_FMwebp_.jpg"
                    alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://m.media-amazon.com/images/G/01/digital/video/sonata/PV_IN_JumanjiTheNextlevel/759758cc-4f4c-4f0e-a7c0-399c6256ce48._UR3000,600_SX3000_FMwebp_.jpg"
                    alt="">
            </div>

            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div> -->
        <!-- <div class="swiper-button-next"></div> -->

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>

</div>


<!-- //categories of each movie -->

<!-- Swiper -->
{{#if Action}}

<div class="swiper-container movie">
    <div class="category">
        <p>Action</p>
    </div>
    <div class="swiper-wrapper">

        {{#each Action}}

        <div class="swiper-slide">
            <!-- Swiper -->

            <a href="/movie/{{this._id}}">
                <div class="card">
                    <img src="/images/owner/movie/{{this._id}}.jpg"
                        alt="">
                </div>

            </a>

        </div>
        {{/each}}


    </div>
</div>
{{/if}}




<!-- //categories of each movie -->

<!-- Swiper -->
{{#if Horror}}

<div class="swiper-container movie">
    <div class="category">
        <p>Horror</p>
    </div>
    <div class="swiper-wrapper">


        {{#each Horror}}

        <div class="swiper-slide">
            <!-- Swiper -->

            <a href="/movie/{{this._id}}">
                <div class="card">
                    <img src="/images/owner/movie/{{this._id}}.jpg"
                        alt="">
                </div>

            </a>

        </div>
        {{/each}}


    </div>
</div>
{{/if}}
<!-- //categories of each movie -->

<!-- Swiper -->
{{#if Comedy}}

<div class="swiper-container movie">
    <div class="category">
        <p>Comedy</p>
    </div>
    <div class="swiper-wrapper">


        {{#each Comedy}}

        <div class="swiper-slide">
            <!-- Swiper -->

            <a href="/movie/{{this._id}}">
                <div class="card">
                    <img src="/images/owner/movie/{{this._id}}.jpg"
                        alt="">
                </div>

            </a>

        </div>
        {{/each}}


    </div>
</div>
{{/if}}
<!-- //categories of each movie -->

<!-- Swiper -->
{{#if Drama}}

<div class="swiper-container movie">
    <div class="category">
        <p>Drama</p>
    </div>
    <div class="swiper-wrapper">


        {{#each Drama}}

        <div class="swiper-slide">
            <!-- Swiper -->

            <a href="/movie/{{this._id}}">
                <div class="card">
                    <img src="/images/owner/movie/{{this._id}}.jpg"
                        alt="">
                </div>

            </a>

        </div>
        {{/each}}


    </div>
</div>
{{/if}}

<!-- Swiper -->
{{#if Romance}}

<div class="swiper-container movie">
    <div class="category">
        <p>Romance</p>
    </div>
    <div class="swiper-wrapper">


        {{#each Romance}}

        <div class="swiper-slide">
            <!-- Swiper -->

            <a href="/movie/{{this._id}}">
                <div class="card">
                    <img src="/images/owner/movie/{{this._id}}.jpg"
                        alt="">
                </div>

            </a>

        </div>
        {{/each}}


    </div>
</div>
{{/if}}





<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- ---swiper js config--- -->
<script>
    var mySwiper = new Swiper('.swiper-container.home', {
        // Optional parameters
        slidesPerView: 1,
        direction: 'horizontal',
        loop: true,
        autoplay: {
            delay: 2500
        },
        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable: true,

        },

        // Navigation arrows
        // navigation: {
        //     nextEl: '.swiper-button-next',
        //     prevEl: '.swiper-button-prev',
        // },

        // And if we need scrollbar

    })

</script>
<script>
    var swiper = new Swiper('.swiper-container.movie', {
        // pagination: {
        //     el: '.swiper-pagination',
        //     clickable: true,
        // },
        // navigation: {
        //     nextEl: '.swiper-button-next',
        //     prevEl: '.swiper-button-prev',
        // },

        // Responsive breakpoints
        breakpoints: {
            // 550:{
            //     slidesPerView:1,
            //     spaceBetween:10
            // },
            300: {
                slidesPerView: 3,
                spaceBetween: 0,

            },
            550: {
                slidesPerView: 4,
                spaceBetween: 5,
            },
            // when window width is >= 320px
            622: {
                slidesPerView: 3,
                spaceBetween: 20
            },

            // when window width is >= 480px
            966: {
                slidesPerView: 4,
                spaceBetween: 30
            },
            // when window width is >= 640px
            1382: {
                slidesPerView: 6,
                spaceBetween: 0
            }
        }
    });
</script>
<!-- ---profile pop up --- -->
<script>
    const profilePopUp = () => {
        var btn = document.querySelector('.profile')
        var popUp = document.querySelector('.profile-pop-up')
        var down = document.querySelector('.down')

        popUp.classList.toggle('active')
        down.classList.toggle('down-active')
    }
</script>