<link rel="stylesheet" href="/stylesheets/user/movie.css">





<div class="movie-view">
    <div class="left-section">
        <div class="movie-poster">

            <div class="card">
                <img src="/images/owner/movie/{{Movie._id}}.jpg" alt="">
                <button class="rating-btn mask waves-effect waves-light rgba-white-slight"><i class="fa fa-star"
                        aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="content">
            <h1>{{Movie.Title}}({{Movie.Date}})</h1>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star unselected"></i>
                <i class="fas fa-star unselected"></i>
            </div>
            <div class="movie-details">
                <p>{{Movie.Category}}</p>
                <p>{{Movie.Runtime}}</p>
                <p>English</p>
                <p>2D</p>
            </div>
            <p>{{Movie.Description}}. </p>
            <h6>Director : <span class="director-cast">{{Movie.Director}}</span></h6>
            <h6>Cast : <span class="director-cast">{{Movie.Cast}}</span></h6>
            <h6>Theater : <span class="director-cast">{{Owner.Theater}}</span></h6>
            <div class="movie-button">
                <button class="trailer-btn mask waves-effect waves-light rgba-white-slight">
                    <div id="bm"></div>
                </button>
                <button class="mask waves-effect waves-light rgba-white-slight " onclick="selection('{{Movie._id}}')"
                    id="book">
                    Book Now
                </button>
            </div>
        </div>
    </div>
    <div class="right-section">
        <img src="{{Movie.Image}}" alt="">
    </div>
</div>

<button style="display: none;" disabled id="btn-n"></button>












<div class="selecting-wrapper">
    <div class="selection">
<div class="theaters">
    <div class="heading">
<p>Theaters</p>
    </div>

<!-- ---Theater--- -->
<div class="date-wrapper">
    <!-- Swiper -->
    <div class="swiper-container date-slider">
        <div class="swiper-wrapper">


            <div class="swiper-slide">
                <input type="radio" name="Theater" onchange="" value="" id="date">
                <label id="label" for="date" class="date">
                    <p style="font-size: 15px;text-align: center;">Soorya Cinemas   </p>
                </label>
            </div>

            <div class="swiper-slide">
                <input type="radio" name="Theater" onchange="" value="" id="date">
                <label id="label" for="date" class="date">
                    <p style="font-size: 15px;text-align: center;">Soorya Cinemas   </p>
                </label>
            </div>

            <div class="swiper-slide">
                <input type="radio" name="Theater" onchange="" value="" id="date">
                <label id="label" for="date" class="date">
                    <p style="font-size: 15px;text-align: center;">Soorya Cinemas   </p>
                </label>
            </div>



        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>



<div class="select-btns">

<button class="mask waves-effect waves-light rgba-white-slight ">Location</button>
<button class="mask waves-effect waves-light rgba-white-slight ">Next</button>
</div>

</div>


        <div class="loader">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <div class="close">
            <img src="/images/user/x.svg" alt="" srcset="">
        </div>
    </div>

</div>


<script>
    const selection = (movieId) => {
        console.log(movieId)
        var wrapper = document.querySelector('.selecting-wrapper')
        var loader = document.querySelector('.loader')
        wrapper.classList.toggle('active')
var theater=document.querySelector('.theaters')
        loader.classList.toggle('active')

        $.ajax({
            url: '/getTheater/' + movieId,
            method: 'post',
            success: (Theater) => {
                console.log(Theater)
            }
        })
        setTimeout(() => {
            theater.classList.toggle('active')
            loader.classList.remove('active')
        }, 2000)


    }


    var wrapper = document.querySelector('.selecting-wrapper')
    var close = document.querySelector('.close')
    close.addEventListener('click', () => {
        wrapper.classList.remove('active')
    })
</script>









































































































<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


















































<script>


    var swiper = new Swiper('.swiper-container.date-slider', {
        slidesPerView: 8,
        spaceBetween: 10,
        //   slidesPerGroup: 3,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            // 550:{
            //     slidesPerView:1,
            //     spaceBetween:10
            // },
            300: {
                slidesPerView: 2,
                spaceBetween: 0,

            },
            550: {
                slidesPerView: 2,
            },
            // when window width is >= 320px
            622: {
                slidesPerView: 2,
                spaceBetween: 0
            },

            // when window width is >= 480px
            966: {
                slidesPerView: 3,
                spaceBetween: 0
            },
            // when window width is >= 640px
            1382: {
                slidesPerView: 3,
                spaceBetween: 0,
            }
        }
    });
</script>








































<!-- ---modal---- -->
<div class="trailer-wrapper">
    <div class="trailer">
        <iframe src="{{Movie.Trailer}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<script>
    var modal = document.querySelector('.trailer-wrapper')
    var btn = document.querySelector('.trailer-btn')
    btn.addEventListener('click', () => {
        modal.classList.toggle('active')
    })
    modal.addEventListener('click', () => {
        modal.classList.remove('active')
    })
</script>










































<!-- ---profile pop up --- -->
<script>
    const profilePopUp = () => {

        var btn = document.querySelector('.profile')
        var popUp = document.querySelector('.profile-pop-up')
        var down = document.querySelector('.down')


        popUp.classList.toggle('active')
        down.classList.toggle('down-active')


    }

</script>












































<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.9/lottie.js"></script>
<script>
    var animation = bodymovin.loadAnimation({
        container: document.getElementById('bm'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '/javascripts/admin/user/lottieflow-play-06-ffffff-easey.json'
    })
</script>