<link rel="stylesheet" href="/stylesheets/user/screen.css">
<!--Screen-->

<div class="alerts " style="margin-top: 80px;">

</div>
<div class="screen">
    <div></div>
</div>

<!--Seat Example-->

<div class="seat-example-wrapper">
    <div class="seat-example">
        <div class="example available"></div>
        <p>Available</p>
    </div>
    <div class="seat-example">
        <div class="example selected"></div>
        <p>Selected</p>
    </div>
    <div class="seat-example">
        <div class="example reserved"></div>
        <p>Reserved</p>
    </div>
</div>

<!--Seat-->

<div class="seat-wrapper">
    <div class="NContainer">

    </div>
    <div class="VContainer">

    </div>
    <div class="PContainer">

    </div>
    <div class="EContainer">

    </div>
</div>

<div class="seat-selected-wrapper">
    <div class="container-fluid p-4">
        <div class="row seat-selected-container" >
        
        
        

        </div>
    </div>
    <div class="checkout p-4">
        <button id="checkout" onclick="checkoutBtn()">Checkout ₹ <span id="total"> </span></button>
    </div>
</div>


<div class="payment-popup-wrapper">

<div class="payment-popup">
    <div class="details">
        <img src="/images/owner/movie/{{data.show.Movie}}.jpg" alt="">
        <div class="content ">
            <p>Seats :</p>
            <p id="seatNo">20</p>
        </div>
        <div class="content content1">
            <p>Screen :</p>
            <p id="screenName">Audi 1</p>
        </div>
        <div class="wallet"
            style="display: flex;align-items: center;justify-content: space-between; width: 100%; height: 50px;padding-left:40px ;padding-right: 40px;">
            <div style="display: flex;align-items: center;justify-content: flex-start; ">
                <input type="checkbox" class="WalletInput" id="Wallet" value="{{Wallet}}" onchange="wallet('{{Wallet}}')" name="Wallet" 
                    style="height: 20px;width: 20px; margin-right: 10px;">
                <p style="margin: 0;" class="walletP">Use My Wallet</p>
            </div>

            <span id="WalletPrice">{{Wallet}}</span>
        </div>
        <div class="content totalAmount">


            <span>Total :</span>
            <span id="totalAmount"></span>
        </div>
        <div class="pay">

            <input type="submit" class="mask waves-effect waves-light rgba-white-slight" name="Payment-method"
                onclick="payment(value)" id="rzp-button1" value="Razorpay">
            <p>Or</p>
            <input type="submit" class="mask waves-effect waves-light rgba-white-slight" name="Payment-method"
                onclick="payment(value)" id="" value="Paypal">
            {{!-- <p>or</p> --}}
            <div id="paypal-btn" onclick="payment('Paypal')">

            </div>
        </div>
    </div>
<div class="x">
<img id="x" src="/images/owner/home/x.svg" alt="">

</div>
</div>
</div>





<input type="text" value="{{Vip.Row}}" name="VipRow" id="VipRow" hidden>
<input type="text" value="{{Vip.Seat}}" name="VipSeat" id="VipSeat" hidden>
<input type="text" value="{{Normal.Row}}" name="NormalRow" id="NormalRow" hidden>
<input type="text" value="{{Normal.Seat}}" name="NormalSeat" id="NormalSeat" hidden>
<input type="text" value="{{Excecutive.Row}}" name="ExcecutiveRow" id="ExcecutiveRow" hidden>
<input type="text" value="{{Excecutive.Seat}}" name="ExcecutiveSeat" id="ExcecutiveSeat" hidden>
<input type="text" value="{{Premium.Row}}" name="PremiumRow" id="PremiumRow" hidden>
<input type="text" value="{{Premium.Seat}}" name="PremiumSeat" id="PremiumSeat" hidden>
<input type="text" value="{{user}}" name="" id="username" hidden>
<input type="text" value="{{bookedSeats}}" name="" id="BookedSeats" hidden>

<div class="success">
    Payment SuccessFull
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>










<script>
    var TotalNumberOfSeat = '{{screen.Seat}}'
    console.log(TotalNumberOfSeat)
    var show = {}
    show.Vip = parseInt('{{data.show.Vip}}')
    show.Excecutive = parseInt('{{data.show.Excecutive}}')
    show.Premium = parseInt('{{data.show.Premium}}')
    show.Normal = parseInt('{{data.show.Normal}}')
    show._id = '{{data.show._id}}'
    show.Movie = '{{data.show.Movie}}'
    show.screenName = '{{screen.Name}}'
    var ownerId = '{{ownerId}}'
    var TotalWallet = '{{TotalWallet}}'
    var userName = '{{DetailsUser.Name}}'
    var userEmail = '{{DetailsUser.Email}}'
    var userMobile = '{{DetailsUser.Mobile}}'
    var ReferalUsed = '{{DetailsUser.Referal_Used}}'
    var Wallet = {{DetailsUser.Wallet}}
    var Rewards = '{{DetailsUser.Rewards}}'

    console.log(Wallet,'Wallet')
</script>
<script src="/javascripts/admin/user/screen.js"></script>