<link rel="stylesheet" href="/stylesheets/user/screen.css">
<!--Screen-->
<div class="screen">
    <div></div>
</div>

<!--Seat Example-->

<div class="seat-example-wrapper">
    <div class="seat-example">
        <div class="example available"></div>
        <p>Available</p>
    </div>
    <div class="seat-example">
        <div class="example selected"></div>
        <p>Selected</p>
    </div>
    <div class="seat-example">
        <div class="example reserved"></div>
        <p>Reserved</p>
    </div>
</div>

<!--Seat-->

<div class="seat-wrapper">
    <div class="NContainer">

    </div>
    <div class="VContainer">

    </div>
    <div class="PContainer">

    </div>
    <div class="EContainer">

    </div>
</div>


    <div class="seat-show-wrapper">
<div class="swiper-container seat-slider">
        <div class="swiper-wrapper">

        </div>

</div>

        <div class="checkout">
            <p>Total : ₹200</p>

            <button class="mask waves-effect waves-light rgba-white-slight">Checkout</button>
        </div>

    </div>













    <input type="text" value="{{Vip.Row}}" name="VipRow" id="VipRow" hidden>
    <input type="text" value="{{Vip.Seat}}" name="VipSeat" id="VipSeat" hidden>
    <input type="text" value="{{Normal.Row}}" name="NormalRow" id="NormalRow" hidden>
    <input type="text" value="{{Normal.Seat}}" name="NormalSeat" id="NormalSeat" hidden>
    <input type="text" value="{{Excecutive.Row}}" name="ExcecutiveRow" id="ExcecutiveRow" hidden>
    <input type="text" value="{{Excecutive.Seat}}" name="ExcecutiveSeat" id="ExcecutiveSeat" hidden>
    <input type="text" value="{{Premium.Row}}" name="PremiumRow" id="PremiumRow" hidden>
    <input type="text" value="{{Premium.Seat}}" name="PremiumSeat" id="PremiumSeat" hidden>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <script src="/javascripts/admin/user/screen.js"></script>